.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    } 
    .home img {
    height: 500px;
    } .home p:not(.likesContainer) {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    } .home span {
    color: var(--red);
    } .btn {
    width: 250px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    } .btn-red{
    background-color: var(--red);color: var(--white);
    } .btn-red:hover {
    background-color: var(--primary);
    }
    .likesContainer{
        font-size: 2em;
        display: flex;
    }
    .likeButton,.deslikeButton{
        background-color: transparent;
        border: none;
        height: 100%;
        font-size: 1em;
        cursor: pointer;
        position: relative;
        transition: 50ms;
    }
    .likeButton:hover:not(:active),.deslikeButton:hover:not(:active){
        filter: brightness(0.9);
    }
    .likeButton:active,.deslikeButton:active{
        transform: scale(1.2);
    }
    .likeButton:active::after{
        content: "👍";
        background: #24f;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
    .deslikeButton:active::after{
        content: "👎";
        background: #f42;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
    .likeQuant{
        min-width: 100px;
        text-align: center;
    }